html, body, *{
    font-size: 16px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    background-color: RGB(0,0,0)
}

li{
    color: RGB(0,0,0)
}

h1{
    font-size: 32px;
    text-align: center;
    color: RGB(255,255,0)
}

h2{
    font-size: 16px;
}

.post{
    text-align: center;
    width: 500px;
    height: 500px;
    background-color: RGB(255,255,0);
    margin: 10px auto;
    padding: 25px;
}

.post-description{
    font-size: 16px;
    text-align: center;
}

.post-img{
    width: 100%;
    height: 50%;
    object-fit: cover;
}