html, body, *{
    font-size: 16px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

li{
    color: RGB(0,0,0)
}

h1{
    font-size: 32px;
    text-align: center;
}

.post{
    text-align: center;
    width: 200px;
    height: 250px;
    background-color: RGB(255,255,0);
    margin: 0px;
    padding: 0px;
}

.post-description{
    font-size: 12px;
    text-align: center;
}

